@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a, a:is(:hover, :active) {
  text-decoration: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100svh;
}
main {
  flex: 1 1 100%;
  background: var(--accent-color) url('../images/main-bg.jpg') no-repeat center / cover;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

@import './header';
@import './footer';
@import './seo';
@import './main-portfolio';

